{% extends 'admin/basic1.html' %}

{% block title %}admin login NowResume{% endblock %}
{% block css %}

.sloganbtn{
         height:30px; width:110px; background-color:white; border:0.5px solid #b0b0b0;
         color:black;
         font-family: "Lucida Console", "Courier New", monospace;
         padding:5px;
         border-radius:12px;

}
.sloganbtn:hover{
         background-color:rgba(133, 137, 242,.15);
         box-shadow:inset 0 0 0 1px #8589f2;
         color:#60f0e9;

}
.formsection{
background: #f2f5fa;
}

.formbox{
    width:400px;

}
label{
    font-family: "Times New Roman", Times, serif;
}
.admin_menu{
    padding:80px;
text-align:center;
font-size:30px;
border:0.2px solid gray;


}
.aa{
text-decoration:none;
color:gray;
}
.aa:hover{
color:green;
}
.admin_panel{
    text-decoration:underline;
    margin-top:40px;
    text-align:center;
    background: #f2f5fa;
    color:#60f0e9;
}
.s{
    margin:10px;
}
.suggesstions{
    background:skyblue;
}
.upload_templates{
    background:#a6edd7;
}
.resume_details{
    background:#90f5bc;
}
.suggestion{
    margin-top:20px;
    border:1px solid gray;
    width:100%;


}
.box{
    margin-top:20px;
}
.one{
background:#d4d4d2 ;
}
.two{
background:#ededed ;
}
.three{
background:#d4d4d2 ;
}
.four{
background:#ededed ;
}
.five{
background:#d4d4d2;
}

.seven{
background:#ededed;
}
.eight{
background:#d4d4d2;
}
p{
width:90%;
}
{% endblock %}

{% block body %}

    {% load static %}
<section class="middleShow1 formsection">
    <div class="searchbar" style="margin-bottom:30px;">
        <label for="search">Search By Name</label>
    <input id="search" type="text">
    <input type="button" value="Search">
    </div>

        <div class="container">
            {% for i in resumedetails %}
            <br>
            <div class="row box">
                <div class="suggestion">
                    <div class="one">
                        MSG ID : {{ i.resume_id }}
                    </div>
                    <div class="two">
                        Name : {{ i.name }}
                    </div>
                    <div class="three">
                        Email : {{ i.type }}
                    </div>
                    <div class="four">
                        Address : {{ i.address }}
                    </div>
                    <div class="five">
                        Mobile No. : {{ i.mob }}
                    </div>
                    <div class="seven">
                        Date : {{ i.today }}
                    </div>
                    <div class="eight">
                        Time : {{ i.now }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
{% block js %}

{% endblock %}